<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qianren.my_image_picker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <provider
            android:name="com.qianren.my_image_picker.MyImagePickerFileProvider"
            android:authorities="com.qianren.my_image_picker.MyImagePickerFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/flutter_image_picker_file_paths" />
        </provider>

        <activity
            android:name="com.qianren.imagepicker.ui.ImageGridActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>
</manifest>
